
@{
        Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/login/jsLogin.js"></script>
    <link rel="stylesheet" href="~/js/toastr/toastr.css" />
    <script src="~/js/toastr/toastr.min.js"></script>
}

<script>
    var urlLogin = '@Url.Action("Login", "Home")';
    var urlGetEmpresas = '@Url.Action("GetEmpresas", "Empresa")';
    var urlRedirect = '@Url.Action("About", "Home")';
</script>


<div class="card" style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:dimgray">
            <h1 style="color:dimgray"> Acceso </h1>
            <small class="mb-md-0 text-gray" style="font-size: 18px; color: #064cf8;">Hola Comenzemos!</small>
            <div class="form-group row">
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Empresa</label>
                </div>
                <div class="col-md-8">
                    <select id="empresa" name="empresa" class="form-control form-control-sm" onchange="" required> </select>
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Usuario/Email</label>
                </div>
                <div class="col-md-8">
                    <input type="text" id="userMail" name="userMail" class="form form-control" />
                </div>
                <div class="col-md-3 text-md-right">
                    <label class="control-label">Password</label>
                </div>
                <div class="col-md-8">
                    <input type="password" id="password" name="password" class="form form-control" />
                </div>

                <div class="col-md-3 text-md-right">
                    <input type="checkbox" id="confirmar" class="" form-check-input> <br>
                </div>
                <div class="col-md-2">
                    <label class="control-label">Confirmar</label>
                </div>

            </div>
            <div class="form-group row">
                <div class="col-md-3 text-md-right">
                    <label class="control-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
                </div>
                <div class="col-md-8">
                    <input type="button" value="Aceptar" class="btn btn-primary form-control" onclick="Login();" />
                </div>
                <div class="col-md-6 text-md-right" style="display:none;">
                    <input type="reset" value="Cancelar" class="btn btn-danger form-control" onclick="Reset()" style="width:200px;" />
                </div>
            </div>

        </div>
    </div>
</div>