
@{
     Layout = "~/Views/Shared/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/scriptsSite/uploadFile/jsIndex.js"></script>
    <link rel="stylesheet" type="text/css" href="~/js/dataTables/datatables.css" />
    <script type="text/javascript" src="~/js/dataTables/datatables.js"></script>
    <link rel="stylesheet" href="~/js/toastr/toastr.css" />
    <script src="~/js/toastr/toastr.min.js"></script>
}

<div class="card" style="margin-top:5%;">
    <div class="card-body">
        <div class="form-horizontal" style="color:dimgray">
            <h2>Cargar Archivos</h2>
        </div>
        <hr />
        <div class=container id="containerLoading" style="color:green;"> 
              <h3>Esto puede tardar algo de tiempo...</h3>
             <div class="spinner-border" role="status" id="divLoading">
                <span class="sr-only" id="itemLoading">Loading...</span>
             </div>
            <hr />
        </div>

              <form asp-controller="UploadFile" asp-action="Index" method="POST"  enctype="multipart/form-data" >  
                <div class="form-group row">                     
                      <div class="col-md-8">
                               <input type="file" id="files" name="files" class="btn btn-primary" multiple/>  
                      </div>
                      <div class="col-md-4 text-md-right">
                            <button type="submit" class="btn btn-success" > <i class="bi bi-upload" onclick="ShowSpinner();">  Subir Archivos</i></button>
                     </div>
                </div>
             </form> 
    </div>
</div>

<script>
    var descripcion = '@ViewBag.Descripcion';
    var estatus = '@ViewBag.Estatus'

    if (estatus != '') {
        if (estatus && descripcion != '')
            toastr.success(descripcion)
        else if (!estatus && descripcion != '')
            toastr.warning(descripcion)
    }
</script>
